$font-family: 'Averta';
// color
$light:#f7f7f7;
$border-bottom-color:#f7f7f7;
$deep-aqua:#0b8071;
$black:#000000;
$dusty-orange:#f68135;

// 
$font-size: 16px;
$font-size2: 20px;

$line-height_: 20px;

//
$border-radius: 4px;
