@media (min-width: 768px) and (max-width: 1024px) {

    
  
}
@media (min-width:600px) {

  #card_image_main_left{
    flex-direction: row;
  }

  #card_image_main_left .card-main{
    text-align-last: left;
    margin-left: 1rem;
    align-items: flex-end;
  }
  
}

@media (min-width: 600px) {
  
}



@media (min-width: 481px) and (max-width: 767px) {
    
}


@media (max-width: 480px) {

   

  
}