// @import '_variables';
// @import '_typography';

.content {

    a{
        text-decoration: none;
    }
  width: 100%;

  .current-page {

    ul {
      display: flex;

      .home {
        width: 45px;
        height: 20px;
        font-family: $font-family;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #999999;
      }

      .fas.fa-chevron-right {
        width: 6px;
        height: 10px;
        object-fit: contain;
        color: #999999;
      }

      .secondNav {
        width: 122px;
        height: 20px;
        font-family: $font-family;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $deep-aqua;
      }

    }


  }

  //   content

//   left filter sidebar
.radio-button-area{
    .card{
        border: 1px solid $deep-aqua;
        width: 263px;
        height: 82px;
        border-radius: 4px;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
        background-color: #ffffff;
        .card-body{
          .radio-group{
            form{
              ul{
                li{
                  .radio{
                    font-size: 24px;
                    font-weight: 500;
                    text-transform: capitalize;
                    display: inline-block;
                    vertical-align: middle;
                    color: $black;
                    position: relative;
                    padding-left: 30px;
                    cursor: pointer;
                  }
      
                  .radio + .radio{
                    margin-left: 20px;
                  }
                  .radio input[type="radio"]{
                    display:none;
                  }
      
                  .radio span{
                    height: 1.25rem;
                    width: 1.25rem;
                    border-radius: 50%;
                    border: 1px solid $deep-aqua;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0.25rem;
      
                  }
      
                  .radio span:after{
                    content: "";
                    height: 0.875rem;
                    width:  0.875rem;
                    background: $deep-aqua;
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%) scale(0);
                    border-radius: 50%;
                    transition: 300ms ease-in-out 0s;
      
                  }
      
                  .radio input[type="radio"]:checked ~ span:after{
                    transform: translate(-50%,-50%) scale(1);
                  }
                }
              }
            }
          }
        }
    }
}

.filter-form{
    .card{
        background-color: #f7f7f7;
        width: 263px;
        height: 651px;
        border-radius: 4px;
        .card-header{
            background-color: #f7f7f7;
            .title{
                width: 47px;
                height: 24px;
                font-family: Averta;
                font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $black;
            }
            .reset{
                width: 36px;
                height: 20px;
                font-family: Averta;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: right;
                color: $deep-aqua;
            }
        }
        .card-body{

            .guides-select-form{
                ul{
                    li {

                        margin-bottom: 1rem!important;
                        
                        .select-area{
                            border-bottom: 1px solid #dee2e6!important;
                        }
                      /*Select2 responsive*/
                      .select2 {
                        width: 100% !important;
                        // height: 36px;
                        // border: 4px;
                        // border: solid 1px #dfdfdf;
                      }

                      .select2-selection {
                        overflow: hidden;
                      }

                      .select2-selection__rendered {
                        white-space: normal;
                        word-break: break-all;
                      }
                      span.select2-selection.select2-selection--single {
                        background-color: transparent;
                        height: 36px;
                        border-radius: 4px;
                        border: solid 1px #dfdfdf;
                      }

                      .select2-selection__arrow{
                          color: #dfdfdf;
                      }
                      span.select2-dropdown.select2-dropdown--above {
                        background-color: #dfdfdf;
                      }

                      .select-title h5:first-child{
                        width: 50px;
                        height: 20px;
                        font-family: $font-family;
                        font-size: 16px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.25;
                        letter-spacing: normal;
                        color: $black;
                      }
                      .select-title h5:last-child{
                        width: 15px;
                        object-fit: contain;
                        color: $deep-aqua;
                      }
                    }
                }
            }
        }
    }
}

  //   right table
  .card {
    .card-header {
      &__title {
        width: 99px;
        height: 24px;
        font-family: Averta;
        font-size: 20px;
      }

      // custom select
      .custom-select__filter-table{
        width: 10rem;
        height: 2.25rem;
        border-radius:0.25rem;
        border: solid 1px #dfdfdf;
        padding: .25rem!important;
        position: relative;
        
        select{
          outline: none;
          width: 100%;
          height: 100%;
          border: 0;
          background: transparent;
          font-family: Averta;
          font-size: 1rem;
          padding: .25rem!important;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #666666;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
      }
      .custom-select__filter-table:after {
        content: "keyboard_arrow_down";
        font-family: "material icons";
        position: absolute;
        right: 0.625rem;
        top: 50%;
        font-size: 1rem;
        color: #000000;
        transform: translateY(-50%);
        pointer-events: none;
      }

    }

    .card-body {
      .table.table-filter {

        // tbody
        tbody {
          tr {
            td {

              border: 0;

              .media {

                border-bottom: 1px solid #dee2e6!important;
                border-radius: 3px;
                padding-bottom: .5rem !important;
                line-height: 1.1rem !important;

                &__img {
                  width: 102px;
                  height: 102px;
                  object-fit: contain;
                  border-radius: 2px;
                }

                &-body {

                  &__left {

                    padding-left: .80rem !important;

                    ul {
                      li {
                        padding-bottom: .35rem !important;

                        .busy-avaiable-button {

                          .title {
                            width: 164px;
                            height: 24px;
                            font-size: 20px;
                            font-weight: 600;
                            color: $black;
                            font-family: $font-family;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.4rem !important;
                            letter-spacing: normal;
                            padding-bottom: .25rem !important;
                          }

                          .times-tour {
                            width: 103px;
                            height: 20px;
                            font-size: $font-size;
                            font-family: $font-family;

                            font-weight: normal;
                            color: $black;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                          }

                          .countries {
                            width: 253px;
                            height: 20px;
                            font-size: $font-size;
                            font-family: $font-family;
                            font-weight: normal;
                            color: $black;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                          }

                          .busy-avaiable-button {
                            line-height: 2.3rem !important
                          }

                          .busy-or-avaiable {
                            width: 80px;
                            height: 20px;
                            font-size: 13px;
                            line-height: normal;
                            border-radius: 2px;
                            color: #ffffff;
                            outline: none;
                          }

                          .busy {
                            background-color: #b73838;
                          }

                          .avaiable {
                            background-color: #38b77b;
                          }

                          .user {
                            font-size: 19px;
                            color: $deep-aqua;
                          }
                        }
                      }
                    }
                  }

                  &__right {
                    &__area {
                      ul {
                        li {
                          padding-bottom: .35rem !important;

                          .ratings {
                            font-size: 12px;

                            .checked {
                              color: orange;
                            }
                          }

                          .ratings-count {
                            font-size: 10px;
                          }

                          .details__hire {
                            width: 120px;
                            height: 29px;
                            font-size: 16px;
                            font-weight: bold;
                            text-align: center;
                            font-family: $font-family;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;

                            border: 0;
                            border-radius: 3px;
                          }

                          .details {
                            color: $deep-aqua;
                            background-color: #ffffff;
                            border: 1px solid;
                          }

                          .hire {
                            color: #ffffff;
                            background-color: $deep-aqua;

                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        tbody > tr:last-child > td > div { border-bottom: 1px solid transparent!important; }
      }

    }

    
  }

  .pull-right {
    .btn-group {
      width: 248px;
      height: 30px;
      border-radius: 3px;
    //   box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
      background-color: #f7f7f7;
      .btn.btn-filter{
        width: 30px;
        height: 30px;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        color: $black;
        border-right: 1px #e1e1e1;
        outline: none;
        color: #9d9b9b;
      }
    }
  }

}