// @import '_variables';
// @import '_typography';

.content {
  width: 100%;

  .current-page {

    ul {
      display: flex;

      .home {
        width: 45px;
        height: 20px;
        font-family: $font-family;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #999999;
      }

      .fas.fa-chevron-right {
        width: 6px;
        height: 10px;
        object-fit: contain;
        color: #999999;
      }

      .secondNav {
        width: 122px;
        height: 20px;
        font-family: $font-family;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $deep-aqua;
      }

    }


  }

  //   content


//   right table
.table.table-filter{
    // tbody
    tbody{
        tr{
            td{

                border: 0;
                .media{

                    border-radius: 3px;
                    padding-bottom: .5rem!important;
                    line-height: 1.1rem!important;
                    &__img{
                        width: 102px;
                        height: 102px;
                        object-fit: contain;
                        border-radius: 2px;
                    }
                    &-body{

                        &__left{

                            padding-left: .80rem!important;

                            ul{
                                li{
                                    padding-bottom: .35rem!important;
                                    .busy-avaiable-button{

                                        .title {
                                          width: 164px;
                                          height: 24px;
                                          font-size: 20px;
                                          font-weight: 600;
                                          color: $black;
                                          font-family: $font-family;
                                          font-stretch: normal;
                                          font-style: normal;
                                          line-height: 1.4rem!important;
                                          letter-spacing: normal;
                                          padding-bottom: .25rem!important;
                                        }
                                        .times-tour{
                                            width: 103px;
                                          height: 20px;
                                          font-size: $font-size;
                                          font-family: $font-family;
        
                                          font-weight: normal;
                                          color: $black;
                                          font-stretch: normal;
                                          font-style: normal;
                                          line-height: normal;
                                          letter-spacing: normal;
                                        }
                                        .countries{
                                            width: 253px;
                                            height: 20px;
                                            font-size: $font-size;
                                            font-family: $font-family;
                                            font-weight: normal;
                                            color: $black;
                                            font-stretch: normal;
                                            font-style: normal;
                                            line-height: normal;
                                            letter-spacing: normal;
                                        }
                                        .busy-avaiable-button{
                                            line-height: 2.3rem!important
                                        }
                                        .busy-or-avaiable{
                                            width: 80px;
                                            height: 20px;
                                            font-size: 13px;
                                            line-height: normal;
                                            border-radius: 2px;
                                            color: #ffffff;
                                            outline: none;
                                        }
                                        .busy{
                                            background-color: #b73838;
                                        }
                                        .avaiable{
                                            background-color: #38b77b;
                                        }
        
                                        .user{
                                            font-size: 19px;
                                            color: $deep-aqua;
                                        }
                                    }
                                }
                            }
                        }

                        &__right{
                            &__area{
                                ul{
                                    li{
                                        padding-bottom: .35rem!important;
                                        .ratings{
                                            font-size: 12px;
                                            .checked{
                                                color: orange;
                                            }
                                        }
                                        .ratings-count{
                                            font-size: 10px;
                                        }
                                        
                                        .details__hire {
                                            width: 120px;
                                            height: 29px;
                                            font-size: 16px;
                                            font-weight: bold;
                                            text-align: center;
                                            font-family: $font-family;
                                            font-stretch: normal;
                                            font-style: normal;
                                            line-height: normal;
                                            letter-spacing: normal;
          
                                            border: 0;
                                            border-radius: 3px;
                                          }
                                          .details{
                                              color: $deep-aqua;
                                              background-color: #ffffff;
                                              border: 1px solid;
                                          }
                                          .hire{
                                              color: #ffffff;
                                              background-color: $deep-aqua;
          
                                          }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



}